<div class="modal fade" id="init-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div id="modal-head" class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
      	<div class="levels">
      		<table class="table">
      			<tr><td class="good-cell">Good</td><td class="good-cell val"></td></tr>
      			<tr><td class="warning-cell">Warning</td><td class="warning-cell val"></td></tr>
      			<tr><td class="bad-cell">Bad</td><td class="bad-cell val"></td></tr>
      		</table>
      	</div>
      	<div class="modal-table">
      	</div>
      </div>
    </div>
  </div>
</div>