<nav class="navbar navbar-default navbar-fixed-top" style="margin:0px">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
      <% if @page == 'about' %>
        	<a class="navbar-brand" href="#">Elite Street</a>
      <% else %>
      	<a class="navbar-brand" href="/">Elite Street</a>
      <% end %>
      
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right nav-menu">
      	<% if @page == 'about' %>
        	<li><a href="#" class="active">About Us</a></li>
        <% else %>
        	<li><a href="/">About Us</a></li>
        <% end %>

        <li class="dropdown">
          <% if @page == 'strategies' || @page == 'strategic-objectives' %>
            <a href="#" class="active dropdown-toggle" data-toggle="dropdown" aria-expanded="false" role="button">Strategies <span class="caret"> </span></a>
          <% else %>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" role="button">Strategies <span class="caret"> </span></a>
          <% end %>
          <ul class="dropdown-menu" role="menu">
            <% if @page == 'strategies' %>
              <li><a href="#" class="active">Strategies</a></li>
            <% else %>
              <li><a href="strategies">Strategies</a></li>
            <% end %>

            <% if @page == 'strategic-objectives' %>
              <li><a href="#" class="active">Strategic Objectives</a></li>
            <% else %>
              <li><a href="strategic-objectives">Strategic Objectives</a></li>
            <% end %>
          </ul>
        </li>

        <% if @page == 'key' %>
        	<li><a href="#" class="active">KPI</a></li>
        <% else %>
        	<li><a href="keys">KPI</a></li>
        <% end %>

        <li class="dropdown">
          <% if @page == 'dashboard' || @page == 'pivot' %>
            <a href="#" class="active dropdown-toggle" data-toggle="dropdown" aria-expanded="false" role="button">OLAP <span class="caret"> </span></a>
          <% else %>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" role="button">OLAP <span class="caret"> </span></a>
          <% end %>
          <ul class="dropdown-menu" role="menu">
            <% if @page == 'dashboard' %>
              <li><a href="#" class="active">Market Analysis</a></li>
            <% else %>
              <li><a href="dashboard">Market Analysis</a></li>
            <% end %>

            <% if @page == 'pivot' %>
              <li><a href="#" class="active">Pivot Table</a></li>
            <% else %>
              <li><a href="pivot">Pivot Table</a></li>
            <% end %>
          </ul>
        </li>

       

        <% if @page == 'financial' %>
        	<li><a href="#" class="active">Financial Analysis</a></li>
        <% else %>
        	<li><a href="financial">Financial Analysis</a></li>
        <% end %>

        <% if @page == 'decision' %>
        	<li><a href="#" class="active">Downloads</a></li>
        <% else %>
        	<li><a href="decision">Downloads</a></li>
        <% end %>
        
    </div>
  </div>
</nav>