<div class="col-md-12">
	<div class="row content-box">
		<div class="col-md-offset-1 col-md-10">
			<div class="sub-content sub-content-top" align="center">
				<div class="row">
					<div class="col-md-12">
						<div class="page-heading" align="center">
							Downloads
						</div>
					</div>
				</div>
			</div>

			<div class="sub-content" align="center" >
				<div class="row">
					<div class="col-md-12">
						<div class="pivot-heading" align="center">
							Click on link to download file
						</div>
						<table class="table">
							<tr><td><a>Break Even Point Computation</a></td></tr>
							<tr><td><a href="assets/OLAP.xlsx">Questionnaire Analysis</a></td></tr>
							<tr><td><a href="assets/strategic-map.png">Strategic Map</a></td></tr>
						</table>
					</div>
				</div>
			</div>


		</div>
	</div>
</div>