
<% strategies = [
	{  
		'title' => 'Competitors/Substitutes',
		'content' => [
			{
				'subtitle' => 'Traditional street food stalls and other food bars',
				'content' => 'At first glance, traditional street food stalls may be seen as competitors, but since the proposed business will be offering slightly modified, higher end versions of the street foods, actual competitors may be different. Instead of other street food stalls, competition will most likely come from substitute products, such as sandwich bars, coffee shops that offer pies, and other fast, portable foods within the price range (around 60-120 Php). One may say there are few, if any existing firms with exactly the same kind of product. Though we may also sell fish balls, it will be using a different kind of fish, for example. '
			}
		]
	},
	{  
		'title' => 'Strategies against competition',
		'content' => [
			{
				'subtitle' => 'Against traditional food stalls',
				'content' => 'We gain our advantage by assuring the quality of our product. We do this by using high quality ingredients and having high sanitation standards. Aside from quality we successfully reduce competition by offering our products within malls rather than in the streets. These make it more accessible to paying customers and those that usually do not wander along streets.'
			},
			{
				'subtitle' => 'Against other food bars',
				'content' => 'We use different ingredients (against similar products). Status is marketed -- branding, place and ambience rivals that of open cafes in malls which is different from the feel of competitors in streets and otherwise. Filipino culture and identity is the focus (achieved through marketing). We also offer quirky, must-try, food adventures by offering a twist to some (for the short-term; most for the medium-term and all for the long-term) of the Filipinos’ most loved street foods (for example, and this is just an example, fishball stuffed with gulaman, fried sweet gulaman/cluster of tapioca drizzled with condensed milk). We can also try to compete with popcorns (so, we need to have a product/offer that moviegoers will find practical and convenient to eat in the cinemas -- thereby elevating the street food to the inside, even offering barkada promos, or mix-and-match (fry the different food using different sauces, given different dips).'
			}
		]
	},
	{  
		'title' => 'Merchandise',
		'content' => [
			{
				'subtitle' => 'Start: Special',
				'content' => 'When the business starts, we want to immediately deliver high quality products. Food will be clean and as healthy as possible; however, because they are technically street-type foods, they may not have the aura involved with eating something from Starbucks, for example.'
			},
			{
				'subtitle' => 'Goal: Exclusive',
				'content' => 'The group’s goal is to strengthen the brand by consistently delivering high quality products. With this, customers will feel good about eating these products (use of healthy olive oil, high cleanliness standards, status symbol with the strengthening brand). Patrons will also be immersed in Philippine culture through the design of stalls and the fact that they are able to take part in the common Filipino’s food (even if it is tweaked for a different market). '
			},
			{
				'subtitle' => 'Content',
				'content' => 'Food using high-quality ingredients and more creative recipes will be sold. Fish balls made using salmon, for example. Everything will be cooked as fast as possible and as cleanly as possible. '
			},
			{
				'subtitle' => 'Aura',
				'content' => 'Customers can assure themselves that they are eating clean food cooked using healthy ingredients. In addition to this, they are able to experience Filipino culture through its street food, while still being assured of the cleanliness of what they are eating. With this, the group hopes to bring people closer and through unity of experience, contribute to the search of a Filipino identity. The group also wants to build the brand to elevate street food to a place not just for the poor, but for also for the rich in the Philippines.'
			}
		]
	},
	{  
		'title' => 'Support',
		'content' => [
			{
				'subtitle' => 'Start: Trader',
				'content' => 'When the business starts out, the group may not have the resources or expertise required to for full support of customers. We will train employees and try to offer recommendations, but as the group does not know enough about how people will concretely react to this, the support may not be as good when everything starts out.'
			},
			{
				'subtitle' => 'Goal: Specialist',
				'content' => 'The goal is to gain expertise and experience by serving customers and getting to know more about them. With this, the group can service customers better with the knowledge gained (create better dishes, recommend specific things, increase dish customizability). The group may lack resources to create a more personal experience though, so Consultant level support may be difficult.'
			},
			{
				'subtitle' => 'Expertise',
				'content' => 'Well trained staff that know the menu thoroughly including possible allergens and tastes in general. By knowing what is in the food and how it was cooked, they may offer better recommendations and make less mistakes in serving of the food. Chefs are well trained and can cook consistently (making sure the same dish tastes the same all the time).'
			},
			{
				'subtitle' => 'Personalization',
				'content' => 'Extra condiments to personalize the dish better. Short-distance deliveries may be offered in the future.'
			}
		]
	},
	{  
		'title' => 'Rationale of Strategies Selected',
		'content' => [
			{
				'subtitle' => 'Exclusive Rationale',
				'content' => 'The group chose Exclusive as its goal for its merchandise because the group wants to offer high-quality products and make customers feel good about purchasing these products. By doing this, the group is able to bring street foods to a wider audience, especially those in the middle and upper class who are worried about the cleanliness of ordinary street foods. By doing this, they may experience something new and the Filipino street food can move past traditional class barriers.'
			},
			{
				'subtitle' => 'Specialist Rationale',
				'content' => 'The group chose Specialist support because the group wants to offer expert recommendations and service to its customers. This is necessary in the group’s push to bring street foods to the higher classes. A Consultant level of support is not needed though as the extra personalization will strain resources too much and would drive prices too high.'
			}
		]
	},
	{  
		'title' => 'Achievement of Strategies',
		'content' => [
			{
				'subtitle' => 'Achieving Exclusive',
				'content' => 'Exclusive can be achieved by focusing on the quality of the products served, as well as giving particular attention to how the logo/brand is launched and presented (even the meals and the place itself, especially the publicity/how it appears to people which more often than not dictates the exclusivity of a place, as in Starbucks). Sanitation of course would be very important, and finding the most trusted suppliers for the best tasting street food. By starting in high-class malls and launching a sophisticated-looking (can be minimalist to reduce cost while maintaining the class) shop/stall there. We can also give them little cheap but classy looking trinkets (for example, a tiny ribbon or sticker) that markets Filipino culture (like the Three Stars and a Sun brand). The store and products being high-class and Filipino at the same time, if carried out well, will exemplify the exclusivity we are aiming for. Free taste promotions for the opening can be packaged in a classy way by presenting the free food in cute packaging matching the store’s theme.'
			},
			{
				'subtitle' => 'Achieving Specialist',
				'content' => 'Specialist can be achieved by finding existing recipes, perhaps through chef or businessmen (in the food business) friends, and then through experimental products, evolve the specialist advice/support to something greater (because if there is a consultant, or someone that will make the recipes for us, we may need to hire that chef and market the chef as well -- too much cost and conflict of ideas over selling the chef as brand or the idea/theme as brand, the latter being the preferred) that will ensure that our products will have an edge over competitors, not just in the quality, but also in diversity and creativity. Perhaps, even just the books on cooking, or lessons in cooking will do (and a detailed recipe will be made according to observations), or simply observations from the competitors. Knowledge on suppliers is needed, which may take experience and expertise in this area of the food sector. By doing so, the shop can achieve the specialist strategy.'
			}
		]
	}
] %>

<div class="col-md-12">
	<div class="row content-box">
		<div class="col-md-offset-1 col-md-10" >
			<div class="sub-content sub-content-top" align="center">
				<div class="row">
					<div class="col-md-12">
						<div class="page-heading" align="center">
							Strategies
						</div>
					</div>
				</div>
			</div>

			<% strategies.each do |s| %>
				<div class="sub-content" align="center"  id="kpi-0">
					<div class="row">
						<div class="col-md-12" >
							<div class="dept-kpi">
								<div class="dept-heading" align="center">
									<%= s['title'] %>
								</div>
								<% s['content'].each do |c| %>
								<div class="active-details">
									<div class="active-name"><%= c['subtitle'] %></div>
								</div>
								<table class="table kpi-table">
									<tr class="kpi-entry">
										<td><%= c['content'] %></td>	
									</tr>
									
								</table>
								<% end %>
							</div>
						</div>
					</div>
				</div>
			<% end %>

		</div>
	</div>
</div>

