<div class="col-md-12">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron full-body" align="center">
				<div class="img-logo">
					<img src="assets/logo.png" class="img-responsive"></img>
				</div>
				<h1>Elite Street</h1>
				<h2>Ang elitistang fishball. Keri mo?</h2>
				<marquee behavior="alternate">Char is in da haus! haXxX0o0rZz</marquee>
			</div>
		</div>
	</div>
</div>