body {
	font-family: 'Cabin', sans-serif;
	background: #EEEEEE;
	background: url(bg4.gif);
}

.navbar {
	background: #DB9E36;
	border-bottom: #c68932;
}

.navbar-default .navbar-brand {
	font-family: 'Berkshire Swash', cursive;
	transition: background ease .3s;
	color: #FFFFFF;
}

.navbar-default .navbar-brand:hover {
	background-color: #e5aa53;
	color: #FFFFFF;
}

.navbar-default .navbar-brand:focus {
	color: #FFFFFF;
	background-color: #e5aa53;
}

.navbar-default .navbar-nav > li > a{
	color: #FFFFFF;
	transition: background ease .3s;
	font-family: 'Cabin', sans-serif;
}

.navbar-default .navbar-nav > li > a:hover{
	color: #FFFFFF;
	background-color: #e5aa53;
}

.navbar-default .navbar-nav > li > a.active{
	color: #FFFFFF;
	background-color: #e5aa53;
}

.navbar-default .navbar-nav > li > a:focus{
	color: #FFFFFF;
	background-color: #e5aa53;
}

.navbar-default .navbar-toggle .icon-bar {
	background: white;
	color:white;
}

.navbar-default .navbar-toggle:hover { 
	background-color: #e5aa53;
}

.navbar-default .navbar-toggle:focus { 
	background-color: #e5aa53;
}

.full-body {
	margin-top: 100px;
	margin-bottom: 0px;
	background-color: transparent;
	/*text-align: right;*/
	color: #105B63;
	color: #222222;
}

.full-body h1{
	font-family: 'Berkshire Swash', cursive;
	color: #105B63;
}

.content-box {
	min-height:540px;
}

.footer {
	bottom: 0;
	margin-bottom: 20px;
	margin-top: 20px;
	font-size: 11pt;
}

.img-logo {
	/*background-color: #105B63;*/
	width:150px;
	height:150px;
	/*border-radius: 75px;*/
}

#mission {
	margin-top:260px;
	color:#222222;
	text-align: center;
	font-size:1.2em;
}

#vision {
	margin-top:250px;
	color:#222222;
	text-align: center;
	font-size:1.2em;
}

.page-heading {
	font-size: 1.5em;
	font-weight: 500;
	color: #105B63;
	margin-bottom: 0px;
	text-align:left;
}

.sub-content {
	background:#FFFFFF;
	border-top: solid #E5E5E5 1px;
	padding:16px;
}

.sub-content-top {
	border-top: none;
	border-top-left-radius: 3px;
	border-top-left-radius: 3px;
}

#mission .heading {
	font-size: 2.2em;
	font-weight: 500;
	color: #105B63;
	margin-bottom: 0px;
}

#vision .heading {
	font-size: 2.2em;
	font-weight: 500;
	color: #105B63;
	margin-bottom: 0px;
}

/* Carousel base class */
.carousel {
  height: 600px;
  margin-bottom: 0px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
	text-decoration: none;
	text-shadow:none;
  z-index: 10;
}

.carousel-indicators li {
	border-color:#105b63;
}

.carousel-indicators li.active {
	background:#105b63;
}

.carousel-control {
	text-shadow:none;
	color:#105b63;
}

.carousel-control:hover {
	color:#105b63;
}

.carousel-control:focus {
	color:#105b63;
}

.carousel-control.right {
	background-image:none;
}

.carousel-control.left {
	background-image:none;
}

.carousel .item {
  height: 500px;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

.content-box {
	margin-top:66px;
}

.meas-cell {
	text-align: center;
}

.good-cell {
	background: #2b6d32;
	color:#FFFFFF;
	text-align: center;
}

.kpi-table .kpi-entry:hover .good-cell{
	background: #387a3d;
}

.kpi-table .kpi-entry.active .good-cell{
	background: #387a3d;
}

.warning-cell {
	background: #db9e34;
	color:#FFFFFF;
	text-align: center;
}

.kpi-table .kpi-entry:hover .warning-cell{
	background: #e2a347;
}

.kpi-table .kpi-entry.active .warning-cell{
	background: #e2a347;
}

.bad-cell {
	background: #bd4931;
	color:#FFFFFF;
	text-align: center;
}

.kpi-table .kpi-entry:hover .bad-cell{
	background: #cc5542;
}

.kpi-table .kpi-entry.active .bad-cell{
	background: #cc5542;
}

.dept-kpi {
	/*margin-top:24px;*/
}

.dept-heading {
	font-size:1.2em;
	padding:8px;
	background:#105b63;
	color:#FFFFFF;
	text-align: left;
}

.dept-heading .small{
	padding:2px;
	font-size:.8em;
	color:rgba(255, 255, 255, .5);
	float:right;
}

.kpi-table td{
	vertical-align: middle !important;
}

.kpi-table .kpi-entry:hover {
	background: #F5F5F5;
	cursor: pointer;
}

.kpi-table .kpi-entry.active {
	background: #E5E5E5;
	cursor: pointer;
}

.graph-container {
	border:solid 1px #CCCCCC;
	height:400px;
}

.graph-container .svg-container{
	height:280px;
	/*background: #CCCCCC;*/
}

.graph-container .graph-desc{
	border-top:solid 1px #CCCCCC;
	border-bottom:solid 1px #CCCCCC;
	background: #F0F0F0;
	height:120px;
	padding:8px;
}

.graph-container .graph-desc p {
	font-size: .9em;
	text-align: justify;
}

.graph-container .graph-title{
	font-family: 'Cabin', sans-serif;
	font-size: 1.4em;
	color:#105b63;
	text-align: left;
}

.kpi-svg {
	height:100px;
	background:#E5E5E5;
}

.active-details{

}

/*BD4932, DB9E36, FFD34E, FFFAD5, 105B63*/