body {
	font-family: 'Cabin', sans-serif;
	background: #FFFFFF;
	background: url(bg6.png);
}

.navbar {
	background: #DB9E36;
	border-bottom: #c68932;
	box-shadow: 0 3px 0px rgba(0,0,0,0.1);
}

.navbar-default .navbar-brand {
	font-family: 'Berkshire Swash', cursive;
	transition: background ease .3s;
	color: #FFFFFF;
}

.navbar-default .navbar-brand:hover {
	background-color: #e5aa53;
	color: #FFFFFF;
}

.navbar-default .navbar-brand:focus {
	color: #FFFFFF;
	background-color: #e5aa53;
}

.navbar-default .navbar-nav > li > a{
	color: #FFFFFF;
	transition: background ease .3s;
	font-family: 'Cabin', sans-serif;
}

.navbar-default .navbar-nav > li > a:hover{
	color: #FFFFFF;
	background-color: #e5aa53;
}

.navbar-default .navbar-nav > li > a.active{
	color: #FFFFFF;
	background-color: #e5aa53;
}

.navbar-default .navbar-nav > li > a:focus{
	color: #FFFFFF;
	background-color: #e5aa53;
}

.navbar-default .navbar-toggle .icon-bar {
	background: white;
	color:white;
}

.navbar-default .navbar-toggle:hover { 
	background-color: #e5aa53;
}

.navbar-default .navbar-toggle:focus { 
	background-color: #e5aa53;
}

.full-body {
	margin-top: 100px;
	margin-bottom: 0px;
	background-color: transparent;
	/*text-align: right;*/
	color: #105B63;
	color: #222222;
}

.full-body h1{
	font-family: 'Berkshire Swash', cursive;
	color: #105B63;
}

.content-box {
	min-height:540px;
}

.footer {
	bottom: 0;
	margin-bottom: 20px;
	margin-top: 20px;
	font-size: 11pt;
}

.img-logo {
	/*background-color: #105B63;*/
	width:150px;
	height:150px;
	/*border-radius: 75px;*/
}

#mission {
	margin-top:260px;
	color:#222222;
	text-align: center;
	font-size:1.2em;
}

#vision {
	margin-top:250px;
	color:#222222;
	text-align: center;
	font-size:1.2em;
}

.page-heading {
	font-size: 1.5em;
	font-weight: 500;
	color: #105B63;
	margin-bottom: 0px;
	text-align:left;
}

.sub-content {
	background:#FFFFFF;
	border-top: solid #E5E5E5 1px;
	padding:16px;
}

.sub-content-top {
	border-top: none;
	border-top-left-radius: 3px;
	border-top-left-radius: 3px;
}

#mission .heading {
	font-size: 2.2em;
	font-weight: 500;
	color: #105B63;
	margin-bottom: 0px;
}

#vision .heading {
	font-size: 2.2em;
	font-weight: 500;
	color: #105B63;
	margin-bottom: 0px;
}

/* Carousel base class */
.carousel {
  height: 600px;
  margin-bottom: 0px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
	text-decoration: none;
	text-shadow:none;
  z-index: 10;
}

.carousel-indicators li {
	border-color:#105b63;
}

.carousel-indicators li.active {
	background:#105b63;
}

.carousel-control {
	text-shadow:none;
	color:#105b63;
}

.carousel-control:hover {
	color:#105b63;
}

.carousel-control:focus {
	color:#105b63;
}

.carousel-control.right {
	background-image:none;
}

.carousel-control.left {
	background-image:none;
}

.carousel .item {
  height: 500px;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

.content-box {
	margin-top:66px;
}

.meas-cell {
	text-align: center;
}

.good-cell {
	background: #2b6d32;
	color:#FFFFFF;
	text-align: center;
}

.kpi-table .kpi-entry:hover .good-cell{
	background: #387a3d;
}

.kpi-table .kpi-entry.active .good-cell{
	background: #387a3d;
}

.warning-cell {
	background: #db9e34;
	color:#FFFFFF;
	text-align: center;
}

.kpi-table .kpi-entry:hover .warning-cell{
	background: #e2a347;
}

.kpi-table .kpi-entry.active .warning-cell{
	background: #e2a347;
}

.bad-cell {
	background: #bd4931;
	color:#FFFFFF;
	text-align: center;
}

.neutral-cell {
	text-align: center;
}

.kpi-table .kpi-entry:hover .bad-cell{
	background: #cc5542;
}

.kpi-table .kpi-entry.active .bad-cell{
	background: #cc5542;
}

.dept-kpi {
	border-bottom:1px solid #E5E5E5;
	/*margin-top:24px;*/
}

.dept-kpi table {/*
	margin-bottom: 0px;*/
}

.dept-heading {
	font-size:1.2em;
	padding:8px;
	background:#105b63;
	color:#FFFFFF;
	text-align: left;
}


.perspective-heading {
	font-size:1.2em;
	height:40px;
	background:#105b63;
	color:#FFFFFF;
	text-align: left;
}

.perspective-menu {
	float:left;
	background:#105b63;
	padding:8px 16px;
	height:40px;
}

.perspective-menu:hover {
	background:#156068;
	cursor:pointer;
}

.perspective-menu.active {
	background:#156068;
}

.dept-heading .small{
	padding:2px;
	font-size:.8em;
	color:rgba(255, 255, 255, .5);
	float:right;
}

.kpi-table {
	display:table;
}

.kpi-table.hide {
	display:none;
}

.kpi-table td{
	vertical-align: middle !important;
}

.kpi-table .kpi-entry:hover {
	background: #F5F5F5;
	cursor: pointer;
}

.kpi-table .kpi-entry.active {
	background: #E5E5E5;
	cursor: pointer;
}

.graph-container {
	border:solid 1px #CCCCCC;
	min-height:400px;
}

.graph-container .svg-container{
	height:280px;
	/*background: #CCCCCC;*/
}

.graph-container .graph-desc{
	border-top:solid 1px #CCCCCC;
	border-bottom:solid 1px #CCCCCC;
	background: #F0F0F0;
	height:218px;
	padding:8px;
}

.graph-container .graph-desc p {
	font-size: .9em;
	text-align: justify;
}

.graph-container .graph-title{
	font-family: 'Cabin', sans-serif;
	font-size: 1.4em;
	color:#105b63;
	text-align: left;
}

.kpi-svg {
	height:100px;
	background:#E5E5E5;
}

.active-details{

}

.active-name {
	padding:4px;
	background: #1d6b72;
	color:#FFFFFF;
}

.details, .kpi-entry.active .details {
	/*background: #CC5542;
	color:#FFFFFF;*/
}

#modal-head {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	background: #105B63;
	color:#FFFFFF;
}


#init-modal table {
	margin-bottom: 0px;
}

#init-modal .modal-dialog {
	margin-top:100px;
}

#init-modal .levels {
	margin-bottom:16px;
}


#init-modal .number-cell {
	text-align: right;
}

.survey-svg {
	width:100%;
	height: 100%;
}

.axis path,
.axis line {
  fill: none;
  stroke: #888888;
  shape-rendering: crispEdges;
}

.axis text {
	font-size: .7em;
  color:#888888;
  fill:#888888;
}

.x.axis path {
  /*display: none;*/
}

/*.bar:hover {
	cursor:pointer;
	fill:#C75048;
}*/

.pie-legend {
	font-size:.8em;
	color:#888888;
	fill:#888888;
}

.pivot-heading {
	font-size:1.2em;
	padding:8px;
	background:#105b63;
	color:#FFFFFF;
	text-align: left;
	border-left:1px solid #FFFFFF;
	border-right:1px solid #FFFFFF;
}

.pivot-table .two-rower {
	vertical-align: middle !important;
}

.pivot-table th {
	text-align: center !important;
	vertical-align: middle !important;
	/*color:white;*/
	/*background: #105b63;*/
}

.row-col {
	background: #BD4932;
	color:white;
}

.row-con {
	background: #BD4932;
	color:white;
}

.res {
	background:#DB9E36;
	color:white;
}

.res-val {
	background: #DB9E36;
	font-weight: 700;
	color:white;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
	color: #FFFFFF;
	background-color: #e5aa53;
}

.right-cell {
	border-right-width: 2px !important;
	border-right-color: #888888 !important;
}

.basket-table > tbody > tr > th {
	background: #BD4932;
	color:white;
}

.zero-cell {
	background:#E5E5E5;
	color:#888888;
}

/*BD4932, DB9E36, FFD34E, FFFAD5, 105B63*/